@font-face {
    font-family: 'Hitmarker-Text';
    src: url('/public/hitmarkertext.ttf') format('truetype');
}
.container-game {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    top: 3rem;
}

.game-tainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-game .title {
    color: #a59d95;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    width: 100%;
    margin-bottom: 4rem;
    font-family: 'Hitmarker-Text', sans-serif;
}
.game-tainer .container-get .text-detail {
    text-align: center;
    color: rgba(255, 255, 255, 0.722);
    font-weight: bold !important;
    font-size: .9rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: .5rem 1.5rem;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5); 
    font-family: 'Hitmarker-Text', sans-serif;
}
/***** responsive codes *****/

@media screen and (max-width: 1265px) {

    .container-game {
        top: 10rem;
    }

}

@media screen and (max-width: 801px) {

    .container-game {
        top: 33rem;
    }
    .container-game .title{
        font-size: 3rem;
    }

}

@media screen and (max-width: 632px) {

    .container-game {
        top: 53rem;
    }

}