/* src/Component/Grid/Grid.css */

@font-face {
    font-family: 'Hitmarker-Text';
    src: url('/public/hitmarkertext.ttf') format('truetype');
}

.container-grid-part {
    position: relative;
    top: 50px;
    overflow: hidden;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
    grid-template-rows: repeat(2, 1fr);
}
.one {
    width: 100%;
    min-height: 200px;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url("./../../../../public/images/main page/grid-pics-part/cq5dam.thumbnail.319.319(10).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    animation: picShake 2s linear infinite;
    transition: scale 2s;
}

.one button {
    background-color: #ed772d;
    color: #262523;
    width: 100%; /* Make buttons responsive */
    max-width: 300px; /* Limit max width */
    font-size: 1.5em;
    padding: 20px 10px; /* Adjust padding for responsiveness */
    border: none;
    box-shadow: 0 0 10px #ed772d;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0; /* Add some spacing between buttons */
}

.large-button {
    background-color: #ed772d; /* Unique background color */
    color: #fff; /* Change text color for contrast */
    width: 350px; /* Increase width */
    height: 80px; /* Increase height */
    font-size: 2.5em; /* Make the largest button even bigger */
    border-radius: 5px; /* Slightly larger border radius */
    padding: 20px; /* Adjust padding for more space around text */
}

/* New class for smaller buttons */
.small-button {
    font-size: 1rem; /* Smaller font size */
}

.one button i {
    margin-right: 10px; /* Space between icon and text */
}

.prizepool {
    font-family: 'Hitmarker-Text', sans-serif;
}

.text-box {
    display: flex;
    flex-direction: column;
}

.text-box span {
    margin-left: .5rem;
    width: 600px;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.one img {
    width: 500px;
    margin: 0 10rem;
}

@keyframes picShake {
    0%, 100% {
        transform: scale(1.00);
    }
    20% {
        transform: scale(1.01);
    }
    40% {
        transform: scale(1.01);
    }
    60% {
        transform: scale(1.01);
    }
    80% {
        transform: scale(1.00);
    }
}

/***** responsive codes *****/

@media screen and (max-width: 980px) {
    .container-grid-part {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-auto-flow: column;
        margin-top: -400px;
    }

    .text-box span {
        font-size: 1.4rem;
        width: 400px;
    }

    .one img {
        width: 200px;
        margin: 0 2rem;
    }

    .one button {
        font-size: 1.2em; /* Adjust font size for smaller screens */
        padding: 15px 5px; /* Adjust padding for smaller screens */
    }
}

@media screen and (max-width: 801px) {
    .container-grid-part {
        top: 25rem;
    }

    .one {
        flex-direction: column;
        align-items: center;
    }

    .text-box span {
        text-align: center;
        font-size: 1.1rem;
        width: 100%;
        margin: 1rem 0;
    }

    .one img {
        width: 250px;
        margin: 0 2rem;
    }

    .one button {
        padding: 10px;
    }

    .prizepool {
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width: 370px) {
    .text-box span {
        text-align: center;
        font-size: .9rem;
        width: 100%;
        margin: 1rem 0;
    }

    .one img {
        width: 150px;
        margin: 0 2rem;
    }

    .container-grid-part {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .one button {
        font-size: 0.9em; /* Smallest font size */
        padding: 8px 5px; /* Smallest padding */
    }
}
