.poster-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: #000;
    margin-top: 20rem; 
    margin-bottom: 10rem;
}

.poster-image {
    max-width: 80%;
    height: auto;
    border-radius: 3px;
}

/* Responsive adjustments */
@media screen and (max-width: 800px) {
    .poster-container {
        height: 400px;
        margin-top: 75rem;
        margin-bottom: -80rem;
    }
}

@media screen and (max-width: 500px) {
    .poster-container {
        height: 250px;
        margin-top: 75rem;
    }
}